<div class="container">
  <h3>Links</h3>
  <div>Add Link</div>
  <input
    #item
    type="text"
    (change)="
      idState.next(1); addState.next({ text: item.value }); item.value = null
    "
  />
  <h3>Link List</h3>
  <div class="content" *ngIf="vm$ | async as vm">
    <div>
      <pre> currentId {{ vm.currentId }} </pre>
      <h3>vm.selectedItem as json</h3>
      <pre> {{ vm.selectedItem | json }} </pre>
    </div>

    <ul>
      <li *ngFor="let item of vm.items">
        <button (click)="deleteState.next(item)">x</button>
        <button (click)="detailState.next(item)">&gt;</button>
        <span>
          {{ item.text }}
        </span>
      </li>
    </ul>
    <div class="selected">
      <h3>vm.selectedItem</h3>
      <pre> {{ vm.selectedItem | json }} </pre>
    </div>
    <div style="margin-top: 1em;" *ngIf="vm.selectedItem">
      {{ vm.selectedItem.id }} - {{ vm.selectedItem.text }}
      <button (click)="detailCloseState.next()">close</button>
    </div>
  </div>
</div>
<!-- container -->
